div(class="security__container")

  div(class='security__container_line1')
    div(class='security__container_line1-img')
      img(src=require("./img/safe.png"))
    div(class='security__container_line1-h') Вопросам безопасности уделяем особое внимание
    div(class='security__container_line1-p') Ваши данные доступны только Вам. Конфиденциальность гарантируется договором оферты

  div(class='security__container_line2')

    div(class='security__container_line2-left')
      img(src=require("./img/leftrow.png"))

    div(class='security__container_line2-center')
        div(class='security__container_line2-center-triangle')
        div(class='security__container_line2-center-h') Данные зашифрованы
        div(class='security__container_line2-center-p')
          p 
            |Система постоянно обновляется и появляются новые модули, внедрение кото- <br>
            |рых доступно всем. Система постоянно обновляется и появляются новые модули,<br>
            |внедрение которых доступно всем.
        div(class='security__container_line2-center-rounds')
          div(class='security__container_line2-center-rounds-elem')
          div(class='security__container_line2-center-rounds-elem')
          div(class='security__container_line2-center-rounds-elem')

    div(class='security__container_line2-right')
      img(src=require("./img/rightrow.png"))
    