div(class="brands__container")
  div(class="brands__container__people")
    div(class="brands__container__people-img")
      img(src=require("./img/people.png"))
    div(class="brands__container__people-h") 2 000 000
    div(class="brands__container__people-p") пользователей управляют своим бизнесом с Odoo
  
  
  div(class="brands__container__right")
    div(class="brands__container-right-h") Более 50 000 компаний по всему миру используют Odoo:
    div(class="brands__container-right-img") 
      img(src=require("./img/brands.png"))