mixin opportunity-label(imgSrc, text)
  div(class="opportunity-label")
    div(class="opportunity-label__icon")
      img(src=require("./img/monitor.png"))
    div(class="opportunity-label__text") Создание сайтов