div(class='opportunities')
  div(class='opportunities__menu')
    div(class='opportunities__menu-item opportunities__menu-item_active ')&attributes({ "data-tab": 1 })
      div(class='opportunities__menu-item-img opportunities__menu-item-img_active')
        img(src=require("./img/monitor.png"))
      div(class='opportunities__menu-item-text opportunities__menu-item-text_active') имя возможности 1
    div(class='opportunities__menu-item')&attributes({ "data-tab": 2 })
      div(class='opportunities__menu-item-img')
        img(src=require("./img/monitor.png"))
      div(class='opportunities__menu-item-text') имя возможности 2
    div(class='opportunities__menu-item')&attributes({ "data-tab": 3 })
      div(class='opportunities__menu-item-img')
        img(src=require("./img/monitor.png"))
      div(class='opportunities__menu-item-text') имя возможности 3
    div(class='opportunities__menu-item')&attributes({ "data-tab": 4 })
      div(class='opportunities__menu-item-img')
        img(src=require("./img/monitor.png"))
      div(class='opportunities__menu-item-text') имя возможности 4

  div(class='opportunities__body opportunities__body_active')&attributes({ "data-tab": 1 })
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text')  описание возможности 1
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 2
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 3
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 4
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')

  div(class='opportunities__body')&attributes({ "data-tab": 2 })
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text')  описание возможности 5
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 6
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 7
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 8
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')

  div(class='opportunities__body')&attributes({ "data-tab": 3 })
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text')  описание возможности 9
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 10
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 11
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 12
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')

  div(class='opportunities__body')&attributes({ "data-tab": 4 })
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text')  описание возможности 13
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 14
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 15
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')
    div(class='opportunities__body-item')
      div(class='opportunities__body-item-h')
      div(class='opportunities__body-item-text') описание возможности 16
      div(class='opportunities__body-item-button')
      div(class='opportunities__body-item-img')

