div(class="about__container")
  div(class='about__container_content')
    div(class='about__container_content-h') О КОМПАНИИ RYDLAB
    div(class='about__container_content-p') Наша компания является крупнейшим интегратором системы Odoo в России
    div(class='about__container_content-whiteboard')
      div(class='about__container_content-whiteboard-elem')
        p
          |Работаем <br>
          |с 2009 года
      div(class='about__container_content-whiteboard-elem')
        p 
          |Свыше 20 <br>
          |успешных внедрений
      div(class='about__container_content-whiteboard-elem')
        p Собственный русский перевод
      div(class='about__container_content-whiteboard-elem')
        p 
          |Лучшие цены <br>
          |в России
      div(class='about__container_content-whiteboard-elem')
        p Отдельный сервер под каждый проект
      div(class='about__container_content-whiteboard-elem')
        p Доработка под требования

    div(class='about__container_content-сeo')
      div(class='about__container_content-сeo-name') Игорь Вакула
      div(class='about__container_content-сeo-function') Директор ООО "РИДЛАБ"


    div(class='about__container_content-about')
      p 
      |Наша компания является крупнейшим интегратором <br>
      | системы Odoo в России.Мы создаем условия для <br>
      | эффективного использования программы управления <br>
      | бизнесом.

