div(class="container")
  div(class="line2__h") Организуйте эффективную работу с кадрами
  div(class="line2__p") Редактирование текста и дизайна прямо на страничках сайта. Публикация в один клик!
  div(class="line2__button")
    button
      p Попробовать бесплатно
  div(class="line2__img")
    img(src=require("./img/notebook.png")) 

