.container{
  margin-left: auto;  
  margin-right:auto;
  height:360px;
  width: 1000px;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  border: solid 2px red;
  
}

p{
  font-family: 'Open Sans';
  font-size:18px;
  color: white;
}

button{
  background-color: rgb(171, 228, 15);
  height:60px;
  width: 275px;
  margin-left:50px;
}

.line2__h{
  height:60px;
  width: 400px;
  font-family: 'Open Sans';
  font-size: 30px;
  font-weight:350;
  margin-left:50px;
  margin-bottom:35px;
  margin-top:50px;
  border:solid 2px red;
}

.line2__p{
  height:65px;
  width: 320px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight:350;
  margin-left:50px;
  margin-bottom:50px;
  border:solid 2px red;
}

.line2__img{
  margin-top:50px;
  margin-left:-20px;
  border:solid 2px red;
}