.container_2{
  margin-left: auto;  
  margin-right:auto;
  height:360px;
  width: 1000px;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  
}

.line2__button p{
  
  font-size:18px;
  color: white;
}

.line2__button button{
  background-color: rgb(171, 228, 15);
  height:60px;
  width: 275px;
  margin-left:50px;
}

.line2__h{
  height:60px;
  width: 400px;
  
  font-size: 30px;
  font-weight:350;
  margin-left:50px;
  margin-bottom:35px;
  margin-top:50px;
  
}

.line2__p{
  height:65px;
  width: 320px;
  
  font-size: 18px;
  font-weight:350;
  margin-left:50px;
  margin-bottom:50px;
  
}

.line2__img{
  margin-top:50px;
  margin-left:-5px;
}