header{
  display:flex;
  width:1000px;
  margin-left: auto;  
  margin-right:auto;
  border: solid 2px red;
}



.header__logo{
  height:119px;
  width:180px;
  border: solid 2px red;
  padding-top:25px;
  margin-left:20px;
}

.header__menu{
  height:124px;
  width:354px;
  border: solid 2px red;
  display:flex;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #4c5a75;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom:20px;
  padding-left:55px;
  padding-right:86px;
}

.header__phones{
  height:99 px;
  width:276px;
  border: solid 2px red;
  display:flex;
  flex-direction:column;
  align-items:flex-end;  
  color: #4c5a75;
}
.header__phones_first{
  padding-top:16px;
  height:20px;
  width:200px;
  padding-bottom:10px;
  padding-right: 10px;
  display:flex;
  justify-content:flex-end; 
  align-items:baseline; 
}

.header__phones_second{
  height:20px;
  width:200px;
  padding-bottom:10px;
  display:flex;
  justify-content:flex-end; 
  align-items:baseline; 
  padding-right: 10px;
}

.header__phones_big{
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 600;
}

.header__phones_button{
  font-family: 'Open Sans';
  font-size: 14px;
  color: #ee7501;
}
.header__phones button{
  height:45px;
  width:175px;
  border: solid 1px #ee7501;
  border-radius:5px;
  background-color: rgba(0,0,0,0);
  padding-bottom:16px;
}
