header{
  display:flex;
  width:900px;
  margin-left: auto;  
  margin-right:auto;
  border: solid 2px red;
}

.header__logo{
  height:119px;
  width:180px;
  border: solid 2px red;
  padding-top:25px;
}

.header__menu{
  height:124px;
  width:354px;
  border: solid 2px red;
  display:flex;
  
  font-size: 14px;
  color: #4c5a75;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom:20px;
  padding-left:55px;
  padding-right:86px;
  text-decoration: underline;
}

.header__phones{
  height:99 px;
  width:276px;
  border: solid 2px red;
  display:flex;
  flex-direction:column;
  align-items:flex-end;  
  color: #4c5a75;
}
.header__phones_item{
  height:20px;
  width:200px;
  margin-top:14px;
  display:flex;
  align-items:flex-end;
  justify-content: flex-end;

}
.header__phones_big{
  
  font-size: 24px;
  font-weight: 600;
}

.header__phones_button{
  
  font-size: 14px;
  color: #ee7501;
}

.header__phones button{
  height:40px;  
  width:172px;
  font-size: 14px;
  border: solid 1px #ee7501;
  border-radius:5px;
  background-color: rgba(0,0,0,0);
  margin-top:16px;
}
