div(class="header__logo")
  img(src=require("./img/logo.png"))

div(class="header__menu")
  div(class="header__menu-item header__menu-item_opportunities") Возможности
  div(class="header__menu-item header__menu-item_tariffs") Тарифы 
  div(class="header__menu-item header__menu-item_stages") Этапы внедрения
  div(class="header__menu-item header__menu-item_contacts") Контакты

div(class="header__phones")
  div(class="header__phones_first") +7(343)
    span(class="header__phones_big") 239-63-73
  div(class="header__phones_second") +7(906)
    span(class="header__phones_big") 802-58-92
    button
      p(class="header__phones_button") Обратный звонок
