div(class="iceberg__container")

  div(class="iceberg__container_1")
    div(class="iceberg__container_1-h") Основные бизнес задачи
    div(class="iceberg__container_1-p") которые решают предприниматели для развития своего бизнеса

  div(class="iceberg__container_2")
    div(class="iceberg__container_2-top1") организация рутины
    div(class="iceberg__container_2-top2") объективный контроль
    div(class="iceberg__container_2-top3") снижение человеческого фактора

  div(class="iceberg__container_3")
    div(class="iceberg__container_3-left") поиск и организация команды
    div(class="iceberg__container_3-left") учет времени работников
    div(class="iceberg__container_3-left") разработка качественного сайта
    div(class="iceberg__container_3-left") внедрения CRM системы
    div(class="iceberg__container_3-left") эффективный e-mail маркетинг
    div(class="iceberg__container_3-left") внедрение контроля и аналитики
    div(class="iceberg__container_3-left") увеличение продаж
    div(class="iceberg__container_3-left") телефония и связь

    div(class="iceberg__container_3-right") бухгалтерский учет
    div(class="iceberg__container_3-right") организация производства
    div(class="iceberg__container_3-right") проведение тендеров
    div(class="iceberg__container_3-right") контроль затрат
    div(class="iceberg__container_3-right") организация рабочих процессов
    div(class="iceberg__container_3-right") складской учет
    div(class="iceberg__container_3-right") работа с документами
    div(class="iceberg__container_3-right") организация логистики
