.container_1{
  margin-left: auto;  
  margin-right:auto;
  height:200px;
  width: 1000px;
  display: flex;
}
.line1{
  margin-left: auto;  
  margin-right:auto;
  height:200px;
  width: 900px;  
  display:flex;
  border: solid 2px blue;
  margin-left:0px;
}
.line1__menu{
  display:flex;
  flex-direction: column;
  height:200px;
  width: 900px;
  
}

.line1__menu_item_icons{
  font-family: 'Open Sans';
  font-size: 14px;
  height:48px;  
  width: 900px; 
  display:flex; 
  border: dashed 1px#4c5a75;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.line1__menu_item_icon button{
  font-family: 'Open Sans';
  font-size: 14px;
  color: #4c5a75;
  min-height: 35px;
  min-width:70px;
  border-radius:10px;
  border-color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  display:flex;
  justify-content:space-between;
}

.line1__menu_leftrow{
  height:180px;  
  width: 50px; 
}

.line1__menu_leftrow button{
  height:60px;  
  width: 50px;
  margin-top:140px; 
}

.line1__menu_rightrow{
  height:180px;  
  width: 50px; 
}

.line1__menu_rightrow button{
  height:60px;  
  width: 50px;
  margin-top:140px; 
}

.line1__menu_item_h{
  font-family: 'Open Sans';
  font-size: 42px;
  font-weight: 600;
  color:#ee7501;
  height:30px;
  line-height:30px;  
  width: 900px;
  padding-top:0px;
  padding-bottom:0px;
  margin-top:25px;
  margin-bottom:20px;
}

.line1__menu_item_p{
  font-family: 'Open Sans';
  font-size: 25px;
  color: #4c5a75;
  height:20px;
  line-height: 20px;  
  width: 900px;
  margin-bottom:48px;
}

.line1__menu_item_icons{
  font-family: 'Open Sans';
  font-size: 14px;
}
