html
  head
    title Scooby-dooby-odoo
  body
    header(id="header")
    div(id="line1")
    div(id="line2")
    div(id="brands")
    div(id="advantages")
    div(id="iceberg")
    div(id="security")
    div(id="who")
    div(id="opportunities")
    div(id="testnow")
    div(id="howmuch")
    div(id="stages")
    div(id="about")
    div(id="clients")
    div(id="where")
    div(id="footer")
    main
