html
  head
    title Odoo Onine
  body
    header(id="header")
    main
      section(id="line1")
      section(id="line2")
      section(id="brands")
      section(id="iceberg")
      section(id="advantages")
      section(id="security")
      section(id="who")
      section(id="opportunities")
      section(id="testnow")
      section(id="howmuch")
      section(id="stages")
      section(id="about")
      section(id="clients")
      section(id="where")
    footer(id="footer")
